.main_chat
  .main-header
    .main-header__box
      .group-name 
        = @group.name
      .member-list 
        Member:
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group), class: "edit" do
      Edit
  .messages
    = render @messages
  
  .footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .message
        = f.text_field :content, class: 'inputText', placeholder: 'type a message'
        = f.label :image, class: 'inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'image-file'
      = f.submit 'Send', class: 'form__submit', id: 'submit'