.side_bar
  .side_header
    .side-box
      .user-name
        = current_user.name
      .icon-bar
        .icon-list1
          = link_to "#", class: "new-group" do
            = icon('far','edit')
        .icon-list2
          = link_to edit_user_path(current_user), class: "edit-group" do
            = icon('fas','cog')
  .groups
    .group1
      .group-name techcamp
      .group-message まだメッセージがありません
    .group2
      .group-name users
      .group-message まだメッセージがありません